@import url("https://cdn.jsdelivr.net/gh/Druidblack/jellyfin-icon-metadata@main/public-icon.css");
@import url("https://cdn.jsdelivr.net/gh/prayag17/Jellyfin-Icons/Font%20Awesome/light.css");

/* 
    Hide things
*/
.headerCastButton,
.headerSyncButton,
.guideChannelNumber,
div.starRatingContainer,
.headerHomeButton,
#loginPage h1,
h2.sectionTitle.sectionTitle-cards.padded-left,
.layout-desktop .hide-scroll .mainDrawer,
.layout-desktop .hideMainDrawer .mainDrawer,
.layout-desktop .mainDrawerButton,
.layout-desktop .headerHomeButton,
#loginPage .raised.cancel.block.btnForgotPassword.emby-button,
#btnResetPassword,
.btnForgotPassword,
#loginPage h1,
.indicator,
div.cardIndicators,
.countIndicator,
.fullSyncIndicator,
.mediaSourceIndicator,
.playedIndicator {
  display: none !important;
}

/* 
button.headerButton.headerHomeButton.barsMenuButton.headerButtonLeft.paper-icon-button-light,
span.material-icons.home,
    Disable carousel
*/
@media all and (min-width: 50em) {
  .homePage .emby-scroller {
    margin-right: 0;
  }

  .homePage .emby-scrollbuttons {
    display: none;
  }

  .homePage .itemsContainer {
    flex-wrap: wrap;
  }
}

/* 
    Fix scrollbars
*/
.emby-scrollbuttons {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  justify-content: space-between;
  pointer-events: none;
}

.emby-scrollbuttons-button {
  pointer-events: initial;
}

/* 
   Transparent Top Menu
*/
.skinHeader.focuscontainer-x.skinHeader-withBackground.skinHeader-blurred {
  background: none;
  background-color: rgba(0, 0, 0, 0);
}

.skinHeader.focuscontainer-x.skinHeader-withBackground.skinHeader-blurred.noHomeButtonHeader {
  background: none;
  background-color: rgba(0, 0, 0, 0);
}